@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap");

@layer theme, base, components, utilities;

@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

@import "tailwindcss";

.recursive-font {
  font-family: "Recursive", sans-serif;
  font-optical-sizing: auto;
}

@theme {
  --color-black-100: #15161e;
  --color-black-200: #1b1d27;
  --color-black-300: #25283c;
  --color-black-400: #1c1d27;
  --color-black-500: #0f0f16;

  --color-purple-100: #7886bd;

  --color-blue-100: #2ac3de;

  --color-green-100: #9ece6a;
}

body {
  background: var(--color-black-500);
}

.set-max-width {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
